[submodule "graspkit-tools"]
	path = graspkit-tools
	url = https://github.com/YenochQin/graspkit-tools.git
	branch = 2.2dev1
[submodule "graspkit"]
	path = graspkit
	url = https://github.com/YenochQin/graspkit.git
	branch = 3.3dev1
[submodule "rCSFs"]
	path = rCSFs
	url = https://github.com/YenochQin/rCSFs.git
	branch = 1.2.2-beta1
